# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:adventurous-kiwi-603 # team: merlin-hermes, project: hornacis

EXPO_PUBLIC_CONVEX_URL=https://adventurous-kiwi-603.convex.cloud

EXPO_PUBLIC_CONVEX_SITE_URL=https://adventurous-kiwi-603.convex.site



EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aGFybWxlc3Mta2l3aS0yMi5jbGVyay5hY2NvdW50cy5kZXYk



EXPO_PUBLIC_LIVEKIT_URL=wss://hornacis-nypddogy.livekit.cloud